.spacing {
    width: 8px;
}

.tab-icon {
    height: 16px;
    width: 16px;
}

.tab-item:hover {
    cursor: pointer;
}

.tab-item-content {
    align-items: flex-end;
    padding: 20px;
    font-size: 14px;
    color: var(--text-color-dark);
    font-weight: 500;
}