.privacy-chip {
    border-radius: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    background-color: #FEFEFE;
    margin-left: 12px;
    font-size: 12px;
    padding: 1px 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: darkgray;
}