.profile-item {
    justify-content: flex-start;
}

.profile-item-icon {
    height: 18px;
    width: 18px;
}

.profile-item-title {
    font-size: 14px;
    color: var(--text-color-dark);
    font-weight: 500;
    margin-bottom: 14px;
    margin-left: 6px;
}